.card-degrees {
    width: 50%;
    background-color: transparent;
    border: 1px solid black;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    img {
        height: 100px;
    }

    h4 {
        color: rgb(156, 156, 156);
        font-style: italic;
    }
}
