.experience-timeline {
    max-height: 0px;
    overflow-y: hidden;
    transition: max-height 1s;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
}

.experience-timeline-hidden {
    max-height: 1600px;
    transition: max-height 1s;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    overflow-y: hidden;
}

.show-more {
    cursor: pointer;
}

.bottom {
    height: 5vh;
}
