.experience-timeline {
    max-height: 480px;
    overflow-y: hidden;
    transition: max-height 0.2s;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    -ms-transition: max-height 0.2s;
    -o-transition: max-height 0.2s;
}

.experience-timeline-hidden {
    max-height: 1600px;
    transition: max-height 0.2s;
    -webkit-transition: max-height 0.2s;
    -moz-transition: max-height 0.2s;
    -ms-transition: max-height 0.2s;
    -o-transition: max-height 0.2s;
    overflow-y: hidden;
}

.btn-timeline {
    color: white;

    &:hover {
        color: rgb(199, 199, 199);
    }
}

.bottom {
    height: 5vh;
}
