.home {
    .name {
        // font-size: 70px;
    }

    .presentation-text {
        font-size: 40px;
        line-height: 40px;
    }

    .whatIdo {
        font-size: 60px;
    }

    li {
        margin: 10px 10px 10px 0;
        font-size: 19px;
    }
}
