.navbar {
    font-size: 19px;
    .active {
        font-weight: bolder;
        position: relative;
    }

    position: relative;

    li a {
        color: $title-dark;
        text-decoration: none;
        padding: 20px;
        &:hover {
            background-color: $text-light;
        }
    }
}
