.navbar {
    font-size: 19px;
    .active {
        font-weight: bolder;
    }

    li a {
        text-decoration: none;
        padding: 20px;
        &:hover {
            background-color: $text-light;
        }
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    @media (max-width: 991px) {
        .navbar-collapse {
            text-align: center;
            background-color: $bg-light;
        }

        .theme-title-dark {
            color: $title-light;
        }
    }
}
