.navbar {
    font-size: 19px;
    .active {
        font-weight: bold;
    }

    position: relative;
    ul {
        display: flex;
    }
    li a {
        color: $title-dark;
        text-decoration: none;
        padding: 20px;
        &:hover {
            background-color: $text-light;
        }
    }
}
