@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("//db.onlinewebfonts.com/t/371213c6129c24324f5aa2e2e61319af.woff2");

$font-1: "Google Sans", sans-serif;

//LIGHT THEME
$bg-light: #001c55;
$bg-light-light: #001c55;
$title-light: #001c55;
$text-light: #7f8daa;

//DARK THEME
$bg-dark: #edf9fe;
$bg-dark-light: #42529b;
$title-dark: #edf9fe;
$text-dark: #7f8daa;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-1;
}

ul {
    list-style: none;
    padding: 0;
}

.inline {
    list-style: none;
    display: flex;
}

.subtitle {
    font-size: 48px;
}

.app {
    transition: all 1s ease-out;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    margin-bottom: 2rem;
}

.right-side {
    display: flex;
    align-items: center;
}

//THEME LIGTH
.theme-bg-light {
    background-color: $bg-light;
}

.theme-bg-light-light {
    background-color: $bg-dark-light;
}

.theme-title-light {
    color: $title-light;
}

.theme-title-reverse-light {
    color: $title-dark;
}

.theme-text-light {
    color: $text-light;
}

//THEME DARK
.theme-bg-dark {
    background-color: $bg-dark;
}

.theme-bg-light-dark {
    background-color: $bg-dark-light;
}

.theme-title-dark {
    color: $title-dark;
}

.theme-title-reverse-dark {
    color: $title-light;
}

.theme-text-dark {
    color: $text-dark;
}

//Bootstrap custom

.container-fluid {
    width: 90%;
}

.row {
    margin: 0;
}

.btn-primary {
    background-color: $bg-dark-light;
    border-color: $bg-dark-light;
}

.btn-primary:hover {
    background-color: #2353b3;
    border-color: $bg-dark-light;
}
